@media screen and (min-width: 640px) {
    header {
        height: 420px;
    }

    nav {
        height: 74px;
    }

    .nav__menu {
        margin-left: 40px;
        font-size: 1.5rem;
    }

    .nav__menu > div:not(:first-of-type) {
        position: absolute;
        overflow: hidden;
        height: 0;
        right: 0;
        top: 74px;
        display: inline-block;
        line-height: 39px;
    }

    .nav__button {
        width: 83px;
        height: 100%;
    }

    .nav__button-wrapper {
        width: 35px;
        height: 25px;
    }

    .nav__button-wrapper div {
        width: 100%;
        height: 5px;
    }

    .menu_click_rotate {
        bottom: 10px;
    }

    .slide_menu_switch {
        top: 74px;
    }

    .slide_menu {
        width: 243px;
    }

    .slide_menu_items {
        height: 45px;
    }

    .slide_menu_margin {
        margin-left: 30px;
        font-size: 0.875rem;
    }

    .header__image {
        height: 346px;
    }

    .header__image-text {
        width: 380px;
        height: 115px;
        padding-top: 40px;
        margin-left: 40px;
    }

    .header__image-text span:not(:last-of-type) {
        font-size: 2.25rem;
        bottom: 20px;
    }

    .header__image-text span:last-of-type {
        font-size: 1.5rem;
    }

    .products_gallery {
        margin-top: 1px;
        height: 456px;
    }

    .product {
        height: 150px;
        font-size: 2.25rem;
    }

    .arrow {
        height: 150px;
    }

    i {
        border-width: 0 3px 3px 0;
        padding: 6px;
    }

    #delivery {
        background: url("../img/delivery.jpg") center 80% no-repeat;
        background-size: cover;
    }

    #salad {
        background: url("../img/salads.jpg") center 70% no-repeat;
        background-size: cover;
    }

    #dessert {
        background: url("../img/desserts.jpg") center 10% no-repeat;
        background-size: cover;
    }

    .menu {
        margin-top: 45px;
    }

    .menu__title span:first-of-type {
        font-size: 2.5rem;
    }

    .menu__title span:nth-of-type(2) {
        margin-top: 10px;
        font-size: 1.25rem;
    }

    .menu_first_title {
        margin-top: 20px;
        height: 75px;
        font-size: 2.5rem;
    }

    .menu_first_title span {
        line-height: 75px;
        margin-left: 40px;
    }

    .menu_first_subtitle {
        margin-top: 22px;
        padding-bottom: 36px;
    }

    .menu_first_subtitle span {
        font-size: 1.875rem;
    }

    #menu_img1 {
        width: 49px;
        height: 48px;
    }

    #menu_img2 {
        width: 27px;
        height: 48px;
    }

    #menu_img3 {
        width: 61px;
        height: 42px;
    }

    #menu_img4 {
        width: 43px;
        height: 42px;
    }

    .menu_second_title {
        margin-top: 40px;
        height: 75px;
        font-size: 2.5rem;
    }

    .menu_second_title span {
        line-height: 75px;
        margin-left: 40px;
    }

    .menu_item > span:first-of-type {
        font-size: 1.688rem;
    }

    .menu_item > span:nth-of-type(2) {
        font-size: 1.688rem;
    }

    .menu_item_description {
        margin-top: 16px;
        padding-bottom: 23px;
        font-size: 1.153rem;
    }

    footer {
        height: 97px;
        font-size: 1.125rem;
    }

    .footer_text {
        height: 46px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (min-width: 980px) {
    header {
        height: 657px;
    }

    nav {
        height: 97px;
    }

    .nav__menu {
        margin-left: 30px;
        font-size: 0.938rem;
        width: 600px;
        justify-content: space-between;
    }

    .nav__menu > div:first-of-type {
        display: none;
    }

    .nav__menu > div:not(:first-of-type) {
        position: static;
        display: block;
        overflow: visible;
        height: auto;
        cursor: pointer;
        color: #ececec;
        text-transform: uppercase;
    }

    .nav__button {
        display: none;
    }

    .logo {
        display: block;
    }

    #header_logo {
        position: absolute;
        top: 8px;
        right: 40px;
    }

    .header__image {
        height: 561px;
    }

    .header__image-text {
        width: 570px;
        height: 200px;
        padding-top: 64px;
        margin-left: 30px;
        position: relative;
        top: 16px;
    }

    .header__image-text span:not(:last-of-type) {
        font-size: 3.375rem;
    }

    .header__image-text span:nth-of-type(2) {
        bottom: 32px;
    }

    .header__image-text span:last-of-type {
        font-size: 2.125rem;
        bottom: -23px;
    }

    .products_gallery {
        width: 100%;
        margin-top: 2px;
        height: 327px;
        display: table;
        table-layout: fixed;
    }

    .products_wrap {
        height: 100%;
        display: table-cell;
    }

    .product {
        width: 100%;
        height: 100%;
    }

    .arrow {
        display: none;
    }

    .menu {
        margin-top: 50px;
    }

    .menu__title {
        width: 94%;
        position: relative;
    }

    .logo_menu {
        display: block;
        width: 109px;
        height: 89px;
        background-image: url("../img/menu_logo.png");
        background-size: cover;
        position: absolute;
        right: 0;
        top: -10px;
    }

    .menu__title span:first-of-type {
        font-size: 2.125rem;
    }

    .menu__title span:nth-of-type(2) {
        margin-top: 10px;
        font-size: 1.25rem;
    }

    .menu_wrapper {
        display: flex;
    }

    .menu_first_title {
        font-size: 2.125rem;
    }

    .menu_second_title {
        margin-top: 11px;
        font-size: 2.125rem;
    }

    .menu_first_subtitle {
        margin-top: 30px;
    }

    .menu_first_subtitle span {
         font-size: 1.626rem;
    }

    #menu_img1 {
        width: 42px;
        height: 42px;
    }

    #menu_img2 {
        width: 25px;
        height: 44px;
    }

    #menu_img3 {
        width: 56px;
        height: 39px;
    }

    #menu_img4 {
        width: 40px;
        height: 39px;
    }

    .menu_item > span:first-of-type {
        font-size: 1.5rem;
    }

    .menu_item > span:nth-of-type(2) {
        font-size: 1.5rem;
    }

    .menu_item_description {
        margin-top: 17px;
        font-size: 0.985rem;
    }

    #menu_second {
        position: relative;
        top: 3px;
    }

    .down {
        position: relative;
        top: 4px;
    }

    footer {
        margin-top: 85px;
        height: 97px;
        font-size: 1.125rem;
        justify-content: space-between;
    }

    .footer_text {
        display: inline-flex;
        line-height: 45px;
        flex-direction: row;
        padding-right: 30px;
    }

    .footer_text span:first-of-type {
        margin-right: 7px;
    }

    #footer_logo {
        margin-left: 30px;
    }
}

@media screen and (min-width: 1200px) {
    header {
        height: 750px;
    }

    nav {
        height: 100px;
    }

    .nav__menu {
        margin-left: 37px;
        font-size: 0.938rem;
    }

    #header_logo {
        width: 104px;
        height: 83px;
    }

    .header__image {
        height: 650px;
    }

    .header__image-text {
        width: 650px;
        height: 210px;
        position: relative;
        top: -5px;
        left: 5px;
    }

    .header__image-text span:not(:last-of-type) {
        font-size: 3.875rem;
    }

    .header__image-text span:last-of-type {
        font-size: 2.374rem;
        top: 5px;
    }

    .products_gallery {
        height: 400px;
    }

    .product {
        font-size: 2.688rem;
    }

    .menu {
        margin-top: 66px;
    }

    .menu__title span:first-of-type {
        font-size: 2.5rem;
    }

    .menu__title span:nth-of-type(2) {
        margin-top: 10px;
        font-size: 1.25rem;
    }

    .logo_menu {
        width: 120px;
        height: 98px;
    }

    .menu_first_title {
        margin-top: 26px;
        font-size: 2.5rem;
    }

    .menu_first_subtitle {
        margin-top: 22px;
    }

    .menu_first_subtitle span {
        font-size: 1.875rem;
    }

    #menu_img1 {
        width: 49px;
        height: 48px;
    }

    #menu_img2 {
        width: 27px;
        height: 48px;
    }

    #menu_img3 {
        width: 61px;
        height: 42px;
    }

    #menu_img4 {
        width: 43px;
        height: 42px;
    }

    .menu_item > span:first-of-type {
        font-size: 1.688rem;
    }

    .menu_item > span:nth-of-type(2) {
        font-size: 1.688rem;
    }

    .menu_item_description {
        margin-top: 16px;
        padding-bottom: 22px;
        font-size: 1.067rem;
    }

    .menu_second_title {
        margin-top: 14px;
    }

    .down {
        top: 9px;
    }

    .low {
        position: relative;
        top: 3px;
    }

    footer {
        height: 97px;
        font-size: 1.125rem;
    }

    #footer_logo {
        width: 104px;
        height: 83px;
    }

}

