html, body {
    width: 100%;
}

header {
    width: 100%;
    height: 210px;
}

nav {
    width: 100%;
    height: 37px;
    background-color: #373c3f;
    position: relative;
}

.nav__menu {
    margin-left: 20px;
    display: flex;
    height: 100%;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-size: 0.75rem;
    position: relative;
    color: white;
}

.nav__menu > div:not(:first-of-type) {
    position: absolute;
    overflow: hidden;
    height: 0;
    right: 0;
    top: 37px;
    display: inline-block;
    line-height: 30px;
}

.nav__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 41px;
    height: 100%;
    background-color: #202529;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav__button-wrapper {
    width: 18px;
    height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav__button-wrapper div {
    width: 18px;
    height: 3px;
    background-color: white;
}

.menu_click_disappear {
    background-color: transparent!important;
}

.menu_click_rotate {
    position: relative;
    bottom: 5.5px;
    transform: rotate(90deg);
}

.menu_click_wrapper_rotate {
    transform: rotate(45deg);
}

.slide_menu_switch {
    position: absolute;
    overflow: hidden;
    height: 0;
    right: 0;
    top: 37px;
}

.slide_menu {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    width: 182px;
}

.slide_menu_items {
    position: static!important;
    width: 100%;
    height: 30px;
    color: black;
    background-color: #fafafa;
    border-width: 1px 0;
    border-style: solid;
    border-color: #f1f1f1;
    cursor: pointer;
}

.slide_menu_items:hover {
    background-color: #f5f5f5;
}

.slide_menu_margin {
    margin-left: 15px;
    font-family: Lato, sans-serif;
    color:  #444444;
    font-size: 0.75rem;
}

.header__image {
    width: 100%;
    height: 173px;
    background: url("../img/header-fon.jpg") center center;
    background-size: cover;
}

.header__image-text {
    height: 65px;
    width: 167px;
    padding-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__image-text span:not(:last-of-type) {
    font-family: Lato, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: white;
}

.header__image-text span:first-of-type {
    position: relative;
    bottom: 7px;
}

.header__image-text span:nth-of-type(2) {
    position: relative;
    bottom: 8px;
}

.header__image-text span:last-of-type {
    font-family: Lato, sans-serif;
    font-size: 0.875rem;
    color: #a6d6e0;
    position: relative;
    bottom: 5px;
}

.products_gallery {
    width: 100%;
    height: 231px;
    display: flex;
    flex-direction: column;
}

.product {
    margin-top: 3px;
    width: 78%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
}

.arrow {
    margin-top: 3px;
    width: 22%;
    height: 75px;
    background-color: #acd8ad;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.products_wrap {
    display: flex;
}

i {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
}

#delivery {
    background: url("../img/delivery.jpg") center 95% no-repeat;
    background-size: cover;
}

#salad {
    background: url("../img/salads.jpg") center 93% no-repeat;
    background-size: cover;
}

#dessert {
    background: url("../img/desserts.jpg") center 16% no-repeat;
    background-size: cover;
}

.menu {
    margin-top: 26px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
}

.menu__title {
    display: flex;
    flex-direction: column;
}

.menu__title span:first-of-type {
    font-family: Lato, sans-serif;
    color:  #3f4043;
    font-size: 1.254rem;
    text-transform: uppercase;
}

.menu__title span:nth-of-type(2) {
    margin-top: 4px;
    font-family: Lato, sans-serif;
    color:  #cbcdce;
    font-size: 0.627rem;
}

.menu_wrapper {
    width: 100%;
}

.menu__first {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_first_title {
    margin-top: 10px;
    width: 100%;
    height: 37px;
    background-color: #3f4043;
    color: #acd9ad;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-size: 1.254rem;
}

.menu_first_title span {
    display: inline-block;
    line-height: 37px;
    margin-left: 20px;
}

.menu_first_wrapper {
    width: 87%;
}

.menu_first_subtitle {
    margin-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_first_subtitle span {
    font-family: Lato, sans-serif;
    color: #3f4043;
    font-size: 0.941rem;
    text-transform: uppercase;
}

.menu_first_subtitle img {
    width: 25px;
    height: 25px;
}

.menu_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu_item > span:first-of-type {
    color:  #3f4043;
    font-size: 0.847rem;
}

.menu_item > span:nth-of-type(2) {
    color:  #3f4043;
    font-size: 0.847rem;
    font-weight: 700;
}

.menu_item_description {
    margin-top: 8px;
    padding-bottom: 10px;
    color:  #3f4043;
    font-size: 0.569rem;
}

#menu_img1 {
    width: 25px;
    height: 25px;
}

#menu_img2 {
    width: 13px;
    height: 24px;
}

#menu_img3 {
    width: 30px;
    height: 21px;
}

#menu_img4 {
    width: 21px;
    height: 20px;
}

.menu__second {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_second_title {
    margin-top: 10px;
    width: 100%;
    height: 37px;
    background-color: #acd8ad;
    color: white;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-size: 1.254rem;
}

.menu_second_title span {
    display: inline-block;
    line-height: 37px;
    margin-left: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: 55px;
    background-color: #acd9ad;
    font-family: Montserrat,sans-serif;
    color: white;
    font-size: 0.75rem;
}

.footer_text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo {
    width: 104px;
    height: 83px;
    background-image: url("../img/logo.png");
    display: none;
}

.logo_menu {
    display: none;
}























